vd-input-date-range-v2 {
  position: relative;

  .popup {
    position: absolute;
    display: none;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: white;

    &.visible {
      display: block;
    }
  }
}
