#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;



  drag-ghost {
    &>* {
      transform: translate(-50%, -50%) scale(var(--drag-scale)) translate(50%, 50%);
      width: var(--drag-width);
      height: var(--drag-height);
    }

    position: absolute;
    top: -9999px;
    height: calc(var(--drag-height) * var(--drag-scale));
    width: calc(var(--drag-width) * var(--drag-scale));
    overflow: hidden;
  }
}
