vd-input-calendar-v2 {
  display: inline-grid;
  grid-template-columns: 0px 1fr;
  grid-template-rows: 1fr 6fr;
  overflow: hidden;

  .size-fix {
    grid-column: 1;
    grid-row: 2 / span 2;
  }
  .header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    > bc-icon {
      flex-grow: 0;
    }
    > * {
      flex-grow: 1;
      padding: 3px;
      text-align: center;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    > *:hover {
      background: #eef !important;
      cursor: pointer;
    }
  }
  .items {
    height: 100%;
    transition: height 200ms linear;
    overflow: hidden;
  }
  &.week-numbers {
    --calendar-columns: 8;
  }
  &.choose-month .dates.items {
    height: 0px;
  }
  &.choose-date .months.items {
    height: 0px;
  }
  .container {
    grid-column: 2;
    grid-row: 2;
    overflow: hidden;

    .months.items {
      grid-column: 2;
      grid-row: 2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      .item {
        justify-content: center;
        &.this-month {
          background: #fee;
        }
      }
    }
    .dates.items {
      display: inline-grid;
      grid-template-columns: repeat(var(--calendar-columns, 7), 1fr);
      grid-template-rows: repeat(6, 1fr);
      .item {
        justify-content: right;
        &.highlighted {
          background: #fee;
        }
      }
    }
    .item {
      display: flex;
      align-items: center;
      border-radius: 5px;
      &:hover {
        background: #eef !important;
        cursor: pointer;
      }
    }
    tr:nth-child(2n) {
      background: #ccf;
    }
  }
  .item {
    display: table-cell;
    text-align: right;
    border-radius: 5px;
    padding-right: 3px;
    &:hover {
      background: #eef !important;
      cursor: pointer;
    }
    &.other-month {
      color: #666;
    }
    &.day-6,
    &.day-7 {
      color: #900;
    }
  }
  .weeknumber {
    text-align: right;
    padding-right: 3px;
    color: #666;
  }
}
