vd-input-time-v2 {
  * {
    padding: 0px;
    margin: 0px;
    font-family: monospace;
  }
  input {
    border: none;
    outline: none;
    width: 16px;
    text-align: center;
    cursor: default;
  }
  > span {
    user-select: none;
    margin: 0 -2px 0 -1px;
  }
  > * {
    margin-top: -4px;
  }
  display: inline-block;
  border: 1px solid #777;
  border-radius: 3px;
  height: 20px;
  box-sizing: content-box;
  padding: 1px 1px 1px 2px;
  position: relative;

  > i {
    display: inline-block;
    width: 20px;
  }
  &:hover {
    border-color: #444;
  }
  &:focus-within {
    border: 2px solid #000;
    padding: 0px 0px 0px 1px;
  }
  bc-icon {
    position: relative;
    top: 3px;
    margin-right: 3px;
    .material-icons {
      font-size: 14px;
    }
  }

  div[role="popup"] {
    display: none;
    box-sizing: content-box;
    border: 2px solid #CCC;
    border-radius: 3px;
    position: absolute;
    position: fixed;
    left: -1px;
    background: white;
    max-height: calc(15px * 24);

    &.open {
      display: flex;
      justify-content: space-between;
      align-content: center;
    }

    > div.part {
      display: inline-block;
      overflow: scroll;
      max-height: calc(100vh - 7px);
      &:focus {
        border: none;
        outline: none;
      }

      // Hide scrollbar
      -ms-overflow-style: none;
      scrollbar-width: none;
      scrollbar-color: transparent transparent;
      &::-webkit-scrollbar {
        width: 1px;
        display: none;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
      // Hide scrollbar


      > div.element {
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid transparent;
        padding: 0px 2px;
        &.selected {
          background: #07F;
          border-color: #07F;
          color: white;
        }
        &:hover:not(.selected) {
          background: #BDF;
          border-color: #BDF;
        }
      }
      &:focus {
        > div.element.selected {
          border-color: black;
        }
      }
    }
    > span {
      user-select: none;
      margin: 0 -2px 0 -1px;
    }
  }
}
