vd-single-carousel-v2 {
  display: grid;
  overflow: hidden;
  transition: grid-template-columns 200ms linear;
  &.moving {
    transition: none;
  }
  &.show-1 {
    grid-template-columns: 100% 0%;
    .slot-2 {
      max-width: 0px;
    }
  }
  &.show-2 {
    grid-template-columns: 0% 100%;
    .slot-1 {
      max-width: 0px;
    }
  }
  .slot-1, .slot-2 {
    overflow: hidden;
    max-width: 100%;
  }
}
